<h1>Highlight directive test</h1>
<article>
	<p>
		There was an Old Lady of Prague,
		Whose language was horribly vague;
		When they said, 'Are these caps?'
		She answered, 'Perhaps!'
		That oracular Lady of Prague.
	</p>
	<p>
		There was an Old Person of Sparta,
		Who had twenty-one sons and one 'darter';
		He fed them on snails,
		And weighed them in scales,
		That wonderful Person of Sparta.
	</p>
	<p>
		There was an Old Man at a casement,
		Who held up his hands in amazement;
		When they said, 'Sir, you'll fall!'
		He replied, 'Not at all!'
		That incipient Old Man at a casement
	</p>
</article>
