html, body {
    margin: 0;
}

body {
    color: #222;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    min-width: 320px;
    max-width: 720px;
    padding: 20px;
    margin: 10px auto;
}

h1 {
    color: black;
    text-align: center;
    margin-bottom: 0px;
    line-height: 2em;
}

article {
    font-size: 1.2em;
    line-height: 1.8em;
    padding: 10px;
}

article p {
    margin-bottom: 1.2em;
}

h1, article {
    border-bottom: 1px solid rgba(230, 230, 240, 0.3);
}
